.content {
    text-align: center;
}
.item-login {
    align-self: center;
    margin-top:20px;
    position: static;
}

.message-alert {
    width: 10%;
    left: 42%;
    align-self: center;
    margin-top:20px;
    position: relative;
}